name: Install mdbook and dependencies

description: Install the mdbook with the dependencies we need.

runs:
  using: composite
  steps:
    - name: Read mdbook version from .env
      id: mdbook-version
      run: |
        . ./.env
        echo "version=$MDBOOK_VERSION" >> $GITHUB_OUTPUT
      shell: bash

    - name: Read mdbook-i18n-helpers version from .env
      id: mdbook-i18n-helpers-version
      run: |
        . ./.env
        echo "version=$MDBOOK_I18N_HELPERS_VERSION" >> $GITHUB_OUTPUT
      shell: bash

    - name: Install mdbook
      uses: taiki-e/install-action@2afb713f1c297f70eecb9cb904b36612eba3c25e # v2
      with:
        tool: mdbook@${{ steps.mdbook-version.outputs.version }}

    - name: Install i18n-helpers
      run: cargo install mdbook-i18n-helpers --locked --version '${{ steps.mdbook-i18n-helpers-version.outputs.version }}'
      shell: bash

    - name: Install mdbook-pandoc
      uses: taiki-e/install-action@v2
      with:
        tool: mdbook-pandoc@0.6
    - name: Install mdbook-pandoc dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y texlive texlive-luatex texlive-lang-cjk librsvg2-bin fonts-noto
        curl -LsSf https://github.com/jgm/pandoc/releases/download/3.1.12.2/pandoc-3.1.12.2-linux-amd64.tar.gz | tar zxf -
        echo "$PWD/pandoc-3.1.12.2/bin" >> $GITHUB_PATH
      shell: bash
