name: Check Markdown links

on:
  push:
    branches: [master]
  pull_request:

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-verbose-mode: 'yes'
        use-quiet-mode: 'yes'
        config-file: '.github/workflows/url-check-config.json'
        check-modified-files-only: 'yes'
