name: Check Markdown links Periodically

on:
  schedule:
  # Run everyday at 0:00 AM
  - cron: "0 0 * * *"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-verbose-mode: 'yes'
        use-quiet-mode: 'yes'
        config-file: '.github/workflows/url-check-config.json'
